:root {
  --max-width: 1440px;
  --dark-theme-color: #131313;  
}

*{
  box-sizing: border-box;
}

body{
  max-width: var(--max-width);
  background-color: var(--dark-theme-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
